@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

body {
  background-color: hsl(222, 26%, 31%);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

* {
  font-family: 'League Spartan', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.theme-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-container, .screen-container, .calc-container {
  border-radius: 10px;
  /* width: 300px; */
}

.theme-container p strong {
  color: white;
  font-size: 32px;
}

.theme-container .title {
  color: white;
  font-size: 13px;
  letter-spacing: 1.2px;
  margin-bottom: 5px;
  margin-right: 30px;
  text-transform: uppercase;
}

.flex-container {
  display: flex;
  align-items: flex-end;
}

.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch-container .number {
  color: white;
  font-size: 13px;
  margin: 0;
  margin-bottom: 5px;
}

.switch {
  position: relative;
}

.switch #switch1, .switch #switch2, .switch #switch3 {
  position: absolute;
  z-index: 9;
  -webkit-appearance: none;
}

.switch #switch1 + label::after, .switch #switch2 + label::after, .switch #switch3 + label::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 25px;
  top: 0;
  left: 0;
  z-index: 10;
}

.switch #switch1 + label::after {
  left: 0;
}

.switch #switch1:checked ~ .switch__inner {
  background-color: hsl(223, 31%, 20%);
  transition: background-color 200ms ease-in-out;
}

.switch #switch1:checked ~ .switch__inner::after {
  left: 6px;
  transition: left 200ms ease-in-out;
}

.switch #switch2 + label::after {
  left: 20px;
}

.switch #switch2:checked ~ .switch__inner {
  background-color: hsl(223, 31%, 20%);
  transition: background-color 200ms ease-in-out;
}

.switch #switch2:checked ~ .switch__inner::after {
  left: 28px;
  transition: left 200ms ease-in-out;
}

.switch #switch3 + label::after {
  left: 40px;
}

.switch #switch3:checked ~ .switch__inner {
  background-color: hsl(223, 31%, 20%);
  transition: background-color 200ms ease-in-out;
}

.switch #switch3:checked ~ .switch__inner::after {
  left: 52px;
  transition: left 200ms ease-in-out;
}

.switch__inner {
  background-color: #fff;
  border-radius: 100px;
  height: 25px;
  width: 75px;
}

.switch__inner::after {
  position: absolute;
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  top: 4px;
  left: 0;
  background-color: hsl(6, 63%, 50%);
  border-radius: 100px;
  transition: left 200ms ease-in-out;
}

.screen-container {
  background-color: hsl(224, 36%, 15%);
  height: 42px;
  margin-bottom: 20px;
  padding: 25px;
}

.screen-container p {
  color: white;
  font-size: 45px;
  margin: 0;
  text-align: right;
}

.calc-container {
  background-color: hsl(223, 31%, 20%);
  padding: 25px;
}

.calc-container .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* .calc-container .row.flex-end {
  justify-content: flex-end
} */

.calc-container .row.last-row {
  margin-bottom: 0;
  width: 291px;
}

.calc-container .row.flex-end a {
  /* align-items: flex-end; */
}

.calc-container .row button {
  background-color: hsl(30, 25%, 89%);
  border-radius: 5px;
  border-width: 0;
  box-shadow: 0px 1px 0px hsl(28, 16%, 65%),
  0px 2px 0px hsl(28, 16%, 65%),
  0px 3px 0px hsl(28, 16%, 65%),
  0px 4px 0px hsl(28, 16%, 65%);
  color: hsl(221, 14%, 31%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-transform: uppercase;
  width: 60px;
}

.calc-container .row button:active,
.calc-container .row button:hover,
.calc-container .row button:focus,
.calc-container .row button:visited {
  background-color: white;
}

.calc-container .row button.x-button {
  font-size: 20px;
}

.calc-container .row button.del-button, .calc-container .row button.reset-button {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0px 1px 0px hsl(224, 28%, 35%),
  0px 2px 0px hsl(224, 28%, 35%),
  0px 3px 0px hsl(224, 28%, 35%),
  0px 4px 0px hsl(224, 28%, 35%);
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.calc-container .row button.del-button:active,
.calc-container .row button.del-button:hover,
.calc-container .row button.del-button:focus,
.calc-container .row button.del-button:visited, 
.calc-container .row button.reset-button:active,
.calc-container .row button.reset-button:hover,
.calc-container .row button.reset-button:focus,
.calc-container .row button.reset-button:visited {
  background-color: hsl(225, 46%, 67%);
}

.calc-container .row button.reset-button, .calc-container .row button.equal-button {
  width: 138px;
}

.calc-container .row button.equal-button {
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0px 1px 0px hsl(6, 70%, 34%),
  0px 2px 0px hsl(6, 70%, 34%),
  0px 3px 0px hsl(6, 70%, 34%),
  0px 4px 0px hsl(6, 70%, 34%);
  color: white;
  font-size: 20px;
}

.calc-container .row button.equal-button:active,
.calc-container .row button.equal-button:hover,
.calc-container .row button.equal-button:focus,
.calc-container .row button.equal-button:visited {
  background-color: hsl(6, 72%, 58%);
}

.attribution {
  background-color: hsl(227, 35%, 25%);
  margin-top: 200px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.attribution p,
.attribution p a {
  color: white;
  font-size: 20px;
  font-weight: normal;
}

.attribution p a {
  color: hsl(25, 97%, 53%);
  text-decoration: none;
}

.attribution p a:active,
.attribution p a:hover,
.attribution p a:focus,
.attribution p a:visited {
  text-decoration: underline;
}